@{
    ViewData["Title"] = "Home Page";

    bool? ProductInWarenkorb(Product product)
    {
        if (ViewData["user"] is not User user)
            return null;
        var userAlreadyOrderdProduct = product.Orders.FirstOrDefault(x => x.UserId == user.Id && x.IsCompleted == false) is not null;
        return userAlreadyOrderdProduct;
    }
}

<form class="text-center">
    <h3 class="text-dark fw-bold">Products:</h3>
      @if (ViewData["user"] is not null)
                       {
                           <button asp-action="Checkout" type="submit" class="btn" style="background-color: #adb5bd;" name="id">Checkout (@ViewData["totalPrice"] Fr.)</button>
                       }
      <div class="flex-row flex-wrap gap-3" style="display: flex">
     
          @foreach (var product in (List<Product>)ViewData["products"]!)
          {
            
              <div class="border-2" style="width: 14rem; border-color: #2c3034; border-style: solid; border-radius: 15px;">
                
                  <img class="card-img-top" src="@product.Images" alt="">
                  <div class="list-group">
                      <h5 class="fw-bold">@product.Name</h5>
                      <p class="subtitle">@product.Description</p>
                  </div>
                  <ul class="list-group list-group-flush mb-2">
                      <li class="list-group-item-danger">@product.Amount Items remaining</li>
                      <li class="list-group-item-success">@product.Price Fr.</li>
                  </ul>
                  @switch (ProductInWarenkorb(product))
                  {
                      case true:
                          <button asp-action="RemoveFromOrder" type="submit" class="btn btn-close" name="id" value="@product.Id"></button>
                          break;
                      case false:
                          <button asp-action="AddToOrder" type="submit" class="btn-success mb-2" name="id" value="@product.Id">Add to cart</button>
                          break;
                      case null:
                          break;
                  }
              </div>
          }
      </div>
</form>