@{
    ViewData["Title"] = "Home Page";

    string GetDisabledString(Product product)
    {
        var user = (User)ViewData["user"]!;
        var userAlreadyOrderdProduct = product.Orders.FirstOrDefault(x => x.User.Id == user.Id) is not null;
        return userAlreadyOrderdProduct ? "disabled" : string.Empty;
    }
}

<form class="text-center">
    <h1 class="display-4">Welcome to the Online Shop</h1>
    <p>Products:</p>
    @foreach (var product in (List<Product>)ViewData["products"]!)
    {
        <div class="card" style="width: 18rem;">
            <button asp-action="AddToOrder" type="submit" class="btn btn-success" name="id" @GetDisabledString(product) value="@product.Id">Add to cart</button>
            <img class="card-img-top" src="@product.Images" alt="">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@product.Amount</li>
                <li class="list-group-item">@product.Price</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    }
</form>